# Unity generated folders
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Uu]ser[Ss]ettings/
[Pp]rofilersettings/

# Visual Studio
.vs/
*.csproj
*.sln
*.suo
*.user
*.userosscache
*.userprefs

# Rider
.idea/
*.sln.iml

# macOS
.DS_Store

# Unity
*.unitypackage
# Crash reports
crashlytics-*

# Packages
/Packages/packages-lock.json
